@model Order

<h3>Order # @Model.OrderID </h3>

@using (Html.BeginForm("RemoveFromCart", "Order", FormMethod.Post))
{


    @Html.HiddenFor(x => x.OrderID)

    <table class="table">
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Remove From Cart</th>
        </tr>
        @foreach (Product p in Model.Products)
        {
            <tr>
                <td>@p.ProductID</td>
                <td>@p.Name</td>
                <td>$@string.Format("{0:#.00}", p.Price)</td>
                <td><button type="submit"
                            name="ProductID"
                            value="@p.ProductID">X</button></td>
            </tr>
            
        }
    </table>
}
