@model Order

<h3>Order: @Model.OrderID</h3>

@using (Html.BeginForm("AddProduct", "Order", FormMethod.Post))
{
    @Html.HiddenFor(x => x.OrderID)

    <table class="table">
        @foreach (var product in ViewBag.Products)
        {
            <tr>
                <td>
                    <button type="submit"
                            name="ProductID"
                            value="@product.ProductID">
                        @product.Name
                        @product.Price
                    </button>
                </td>
            </tr>
        }
    </table>
}




<h2>Subtotal: @Model.Subtotal</h2>
<h3>Total: @Model.Total</h3>