@model Order

<h3>Order: @Model.OrderID</h3>

@using (Html.BeginForm("AddProduct", "Order", FormMethod.Post))
{
    @Html.HiddenFor(x => x.OrderID)

    <table class="table">
        @foreach (var product in ViewBag.Products)
        {
            <tr>
                <td>
                    <button type="submit"
                            name="ProductID"
                            value="@product.ProductID">
                        @product.Name
                        @product.Price
                    </button>
                </td>
            </tr>
        }
    </table>
}

@using (Html.BeginForm("GenerateReceipt", "Order", FormMethod.Post))
{
    @Html.HiddenFor(x => x.OrderID)
    <button type="submit"
            class="submit button">Submit Order</button>
}

@Html.HiddenFor(x => x.OrderID)
<div>
    @await Html.PartialAsync("OrderSummary", Model)
</div>

<h2>Subtotal: $@string.Format("{0:#.00}", Model.Subtotal)</h2>