@model Order

<h3>Order: @Model.OrderID</h3>

<table class="table">
    <tr>
        <th>ProductID</th>
        <th>Name</th>
        <th>Price</th>
        <th>CategoryID</th>
        <th>Image</th>
    </tr>
    @foreach(var product in Model.Products)
    {
    <tr>
        <td><a href=/Product/ViewProduct/@product.ProductID>@product.ProductID</a></td>
        <td>@product.ProductID</td>
        <td>@product.Name</td>
        <td>@product.Price</td>
        <td>@product.CategoryID</td>
        <td>@product.Image</td>
    </tr>
    }
</table>

<h2>Subtotal: @Model.Subtotal</h2>
<h3>Total: @Model.Total</h3>