@model Order

<h2>Order: @Model.Receipt.OrderID</h2>

<table class="table">
    @foreach(Product product in Model.Products)
            {
                <tr>@product.ProductID</tr>
                <tr>@product.Name</tr>
                <tr>@product.Price</tr>
            }
</table>

<h3>Subtotal: @Model.Subtotal</h3>
<h3>Total: @Model.Total</h3>